@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*** BSP: @extend %reset;***/
.block p:before, .block p:after {
  content: "";
  display: table; }
.block p:after {
  clear: both; }

#recommends blockquote, body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important; }

#bgkontakt {
    background-image:url("../images/hg_kontakt.jpg");
    background-repeat:no-repeat;
}

@media screen and (min-width: 1200px) {
  .container1 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }

.mod_customnav { 
display: block;
text-decoration: none;
}



.logo a {
  text-indent: -9999px;
  display: block;
  overflow: hidden; }

/*** Mixins & Placeholders ***/
/**** caret ****/
/* Bsp. @include alpha-background-color(rgba(black, 0.35), white); */
/******* SVG *********/
/*** WP Specials ***/
/* Mediaqueries breakpoints */
/* Helper Classes */
/* ** COLORS ** */
/* ** NUMBERS ** */
/*** Typo ***/
/*** Extends ***/
#page-footer .phone p:first-child:before, #page-footer .mail p:first-child:before, #page-footer .hours p:first-child:before, #top-head .phone a, #top-head .mail a, .social-media li a:before {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%; }

/*** Mixins ***/
/*** Mixins ***/
@media screen and (min-device-width: 768px) and (max-device-width: 992px) and (orientation: landscape) {
  .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }
.page-content .mod_article > .container, .footer-data > .container
.sitemap-footer > .container {
  padding: 2em; }
body:not(.home) .mod_article > .container:not(.mod_breadcrumb) {
  padding-top: 4em;
  padding-bottom: 4em; }

.flexbox, .ce_form .row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .col-1 .flexbox, .col-1 .ce_form .row, .ce_form .col-1 .row, .col-2 .flexbox, .col-2 .ce_form .row, .ce_form .col-2 .row, .col-3 .flexbox, .col-3 .ce_form .row, .ce_form .col-3 .row, .col-4 .flexbox, .col-4 .ce_form .row, .ce_form .col-4 .row, .col-5 .flexbox, .col-5 .ce_form .row, .ce_form .col-5 .row, .col-6 .flexbox, .col-6 .ce_form .row, .ce_form .col-6 .row {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    box-direction: normal;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }
  .flexbox > [class*="col-"].panel, .ce_form .row > [class*="col-"].panel {
    padding: 1em; }
    @media screen and (max-width: 600px) {
      .flexbox > [class*="col-"].panel, .ce_form .row > [class*="col-"].panel {
        margin: 1em 0; } }
    @media screen and (min-width: 600px) {
      .flexbox > [class*="col-"].panel, .ce_form .row > [class*="col-"].panel {
        margin: 10.01px 7px; } }
    @media screen and (min-width: 768px) {
      .flexbox > [class*="col-"].panel:first-child, .ce_form .row > [class*="col-"].panel:first-child {
        margin-left: 0; }
      .flexbox > [class*="col-"].panel:last-child, .ce_form .row > [class*="col-"].panel:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 601px) {
    .flexbox, .ce_form .row {
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column; }
      .flexbox > [class*="col-"], .ce_form .row > [class*="col-"] {
        width: 100%;
        float: none;
        padding: 1em; } }
  @media screen and (min-width: 768px) {
    .flexbox .col-1, .ce_form .row .col-1 {
      -webkit-flex-basis: 8.33333%;
      -moz-flex-basis: 8.33333%;
      flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%; }
    .flexbox .col-2, .ce_form .row .col-2 {
      -webkit-flex-basis: 16.66667%;
      -moz-flex-basis: 16.66667%;
      flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%; }
    .flexbox .col-3, .ce_form .row .col-3 {
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      flex-basis: 25%;
      -ms-flex-preferred-size: 25%; }
    .flexbox .col-4, .ce_form .row .col-4 {
      -webkit-flex-basis: 33.33333%;
      -moz-flex-basis: 33.33333%;
      flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%; }
    .flexbox .col-5, .ce_form .row .col-5 {
      -webkit-flex-basis: 41.66667%;
      -moz-flex-basis: 41.66667%;
      flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%; }
    .flexbox .col-6, .ce_form .row .col-6 {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%;
      -ms-flex-preferred-size: 50%; }
    .flexbox .col-7, .ce_form .row .col-7 {
      -webkit-flex-basis: 58.33333%;
      -moz-flex-basis: 58.33333%;
      flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%; }
    .flexbox .col-8, .ce_form .row .col-8 {
      -webkit-flex-basis: 66.66667%;
      -moz-flex-basis: 66.66667%;
      flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%; }
    .flexbox .col-9, .ce_form .row .col-9 {
      -webkit-flex-basis: 75%;
      -moz-flex-basis: 75%;
      flex-basis: 75%;
      -ms-flex-preferred-size: 75%; }
    .flexbox .col-10, .ce_form .row .col-10 {
      -webkit-flex-basis: 83.33333%;
      -moz-flex-basis: 83.33333%;
      flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%; }
    .flexbox .col-11, .ce_form .row .col-11 {
      -webkit-flex-basis: 91.66667%;
      -moz-flex-basis: 91.66667%;
      flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%; }
    .flexbox .col-12, .ce_form .row .col-12 {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      flex-basis: 100%;
      -ms-flex-preferred-size: 100%; } }

* {
  box-sizing: border-box; }
  *::-moz-selection {
    background-color: #eb6909;
    color: white; }
  *::selection {
    background-color: #eb6909;
    color: white; }

img, .responsive-img {
  max-width: 100%;
  width: auto;
  height: auto; }

figure {
  margin: 0; }

.invisible {
  display: none; }

@media screen and (max-width: 480px) {
  .no-mobile {
    display: none; } }

.bg-white, .mod_newslist .panel {
  background-color: #ffffff; }

.bg-body {
  background-color: #f2f0f0; }

.bg-grey {
  background-color: #fbfafa; }

.bg-black {
  background: #000000; }
  .bg-black > * {
    color: #efefef; }

.dark-gradient {
  background-color: #404040;
  background-image: -webkit-linear-gradient(#404040, #000000);
  background-image: linear-gradient(#404040, #000000); }

.grey-gradient {
  background-color: white;
  background-image: -webkit-linear-gradient(white, #dcdcdc);
  background-image: linear-gradient(white, #dcdcdc); }

.orange-gradient, .mod_newslist .panel:first-child {
  background-color: #fab07a;
  background-image: -webkit-linear-gradient(#fab07a, #eb6909);
  background-image: linear-gradient(#fab07a, #eb6909); }

.white-text, .mod_newslist .panel:first-child, .white-text *, .mod_newslist .panel:first-child * {
  color: #ffffff; }
.white-text a.more-link, .mod_newslist .panel:first-child a.more-link, .white-text .mod_newslist .panel p.more a, .mod_newslist .panel p.more .white-text a, .mod_newslist .panel:first-child p.more a {
  color: #ffffff; }

.gold-text, [class*="ce_"] ul:not([class*="cols_"]) li h2, [class*="ce_"] ul:not([class*="cols_"]) li h3, [class*="ce_"] ul:not([class*="cols_"]) li h4, [class*="ce_"] ul:not([class*="cols_"]) li strong, .gold-text *, [class*="ce_"] ul:not([class*="cols_"]) li h2 *, [class*="ce_"] ul:not([class*="cols_"]) li h3 *, [class*="ce_"] ul:not([class*="cols_"]) li h4 *, [class*="ce_"] ul:not([class*="cols_"]) li strong * {
  color: #977f43 !important; }

.blueAccent1 strong {
  padding: 1em 12em;
  font-weight: 500;
  background: #354a73;
  color: #ffffff;
  display: inline-block; }

.blueAccent strong {
  padding: 0.5em 2em;
  font-weight: 300;
  background: #354a73;
  color: #ffffff;
  display: inline-block; }


.blackAccent strong {
  padding: 1em 12em;
  font-weight: 500;
  background: #000000;
  color: #ffffff;
  display: inline-block; }

.headline {
  padding: 4em 0 2em 0; }

.inner-vert-padding {
  padding-top: 6em;
  padding-bottom: 6em; }

.inner-hor-padding {
  padding-left: 7.5vW;
  padding-right: 7.5vW; }

.fullHeight {
  height: 100vH; }

#top-head .claim > p {
  font-size: 28px;
  margin-right: 5em;
  padding-right: 2em;
  color: #666666;
  background: transparent url("../icons/logo-small.png") no-repeat center right; }

/*** Contact-data***/
#page-footer .phone, #page-footer .mail, #page-footer .hours {
  text-align: center; }
  #page-footer .phone p:first-child:before, #page-footer .mail p:first-child:before, #page-footer .hours p:first-child:before {
    content: ' ';
    height: 66px;
    width: 66px;
    margin: 0 auto 2.5em; }

#top-head .phone > p:first-child, #top-head .mail > p:first-child {
  display: none; }
#top-head .phone a, #top-head .mail a {
  display: block;
  padding: .5em 2em .5em 3.3em;
  margin: .5em 0 .5em 2em;
  background-size: 30px 30px; }
  @media screen and (max-width: 480px) and (orientation: portrait) {
    #top-head .phone a > span, #top-head .mail a > span {
      display: none; } }
  @media screen and (max-width: 480px) and (orientation: landscape) {
    #top-head .phone a, #top-head .mail a {
      background-image: none !important; } }
  @media screen and (max-width: 600px) {
    #top-head .phone a, #top-head .mail a {
      padding: 1em; } }

#top-head .phone {
  background-color: #555555; }
  #top-head .phone a {
    background-image: url(../icons/phone-white.png); }
#page-footer .phone {
  text-align: center; }
  #page-footer .phone p:first-child:before {
    background-image: url(../icons/phone-white.png); }

#top-head .mail a {
  background-image: url(../icons/mail-white.png); }
#page-footer .mail {
  text-align: center; }
  #page-footer .mail p:first-child:before {
    background-image: url(../icons/mail-white.png); }

#page-footer .hours {
  text-align: center; }
  #page-footer .hours p:first-child:before {
    background-image: url(../icons/hours-white.png); }

/** Javascript generated Classes ***/
.more-link, .mod_newslist .panel p.more a, [class*="ce_"] ul:not([class*="cols_"]) li {
  text-decoration: none;
  background-image: url(../icons/more-infos-base.png);
  font-size: 15.75px;
  line-height: 1;
  padding-left: 1.5em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0% 0%; }

.blueAccent.more-link, .mod_newslist .panel p.more a.blueAccent, [class*="ce_"] ul:not([class*="cols_"]) li.blueAccent {
  color: #354a73; }

.white-text.more-link, .mod_newslist .panel p.more a.white-text, .mod_newslist .panel p.more a.panel:first-child, .mod_newslist .more-link.panel:first-child, .mod_newslist [class*="ce_"] ul:not([class*="cols_"]) li.panel:first-child, [class*="ce_"] ul:not([class*="cols_"]) .mod_newslist li.panel:first-child, [class*="ce_"] ul:not([class*="cols_"]) li.white-text {
  background-image: url(../icons/more-infos-white.png); }

.gold-text.more-link, .mod_newslist .panel p.more a.gold-text, [class*="ce_"] ul:not([class*="cols_"]) li.gold-text, [class*="ce_"] ul:not([class*="cols_"]) li h2.more-link, [class*="ce_"] ul:not([class*="cols_"]) li h3.more-link, [class*="ce_"] ul:not([class*="cols_"]) li h4.more-link, [class*="ce_"] ul:not([class*="cols_"]) li strong.more-link {
  background-image: url(../icons/more-infos-gold.png); }

.iframe-elastic {
  position: relative;
  padding-bottom: 27.5%;
  /* ratio width/height in % Bsp. (450 ÷ 500 = 0.9 = 90%) */
  height: 0;
  overflow: hidden; }
  .iframe-elastic iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }

.flexstart {
  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -ms-flex-align: start; }

.center-content > .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.multi-items-center, .center-content > .container {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column; }

.single-item-center, [class*="ce_"].single-item-center > .container {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.equal, .flexbox.equal, .ce_form .row {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch; }

/** Extras **/
.circle {
  width: 300px !important;
  height: 300px !important;
  line-height: 300px;
  -webkit-border-radius: 150px;
  border-radius: 150px; }
  .circle.quote {
    position: relative;
    padding: 4.2em; }
    .circle.quote .lead {
      margin: 0 0 1em 0; }
    .circle.quote:before {
      content: '';
      display: block;
      height: 80px;
      width: 80px;
      background: transparent url(../images/badge-icon.png) no-repeat center center;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999; }
  .circle.circle-image {
    overflow: hidden; }
    .circle.circle-image img {
      max-width: none;
      height: 100%;
      width: auto; }

.skew .container {
  position: relative; }
.skew .textPanel {
  height: 40%;
  width: 40%;
  padding: 4em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media screen and (min-device-width: 992px) {
    .skew .textPanel {
      position: absolute;
      top: -2em;
      left: 0;
      min-height: 400px; } }
  .skew .textPanel:before {
    content: '';
    display: block;
    height: 80px;
    width: 80px;
    background: transparent url(../images/badge-icon.png) no-repeat center center;
    background-size: contain;
    margin: -2em 0 2em; }
  .skew .textPanel p {
    color: #efefef; }
    .skew .textPanel p:last-child {
      margin-bottom: 80px;
      /** same size/height as badge-style ***/ }

.skew .textPanel p:first-child, .black-headline h1 em, .black-headline
h2 em, .black-headline
h3 em, .black-headline
h4 em, .black-headline
h5 em, .black-headline
h6 em, h1 + p, h2 + p, blockquote p, .lead, .bg-layer .textPanel, .widget-headline > p {
  font-size: 19.6px;
  line-height: 1.5;
  margin: 2em 0; }

dt, table th, strong {
  font-weight: 600; }

.sitemap-footer h1, .sitemap-footer
h2, .sitemap-footer
h3, .sitemap-footer
h4, .sitemap-footer
h5, .sitemap-footer
h6, .sitemap-footer ul.level_1 > li.submenu > a,
.sitemap-footer ul.level_1 > li.submenu > span {
  font-size: 19.6px;
  font-weight: 300;
  color: #354a73;
  display: block;
  margin-bottom: 1em; }

html,
body {
  font-size: 100%;
  /*prevents ios safari from zooming on orientation change (maybe)*/
  -webkit-text-size-adjust: none; }

body {
  color: #666666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #977f43;
  font-weight: 300; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; }
  .footer-data h1, .footer-data
  h2, .footer-data
  h3, .footer-data
  h4, .footer-data
  h5, .footer-data
  h6 {
    display: none; }
  .ce_text h1, .ce_text
  h2, .ce_text
  h3, .ce_text
  h4, .ce_text
  h5, .ce_text
  h6 {
    margin-bottom: 0; }
  .text-teaser h1, .text-teaser
  h2, .text-teaser
  h3, .text-teaser
  h4, .text-teaser
  h5, .text-teaser
  h6 {
    color: #262626;
    margin: 1em 0;
    padding: 0 1em; }
    .text-teaser h1 :before, .text-teaser
    h2 :before, .text-teaser
    h3 :before, .text-teaser
    h4 :before, .text-teaser
    h5 :before, .text-teaser
    h6 :before {
      content: '';
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0% 0%;
      background-image: url(../icons/more-infos-gold.png);
      height: 1em;
      width: 1em; }
  @media screen and (max-device-width: 480px) and (orientation: portrait) {
    .panel h1, .panel
    h2, .panel
    h3, .panel
    h4, .panel
    h5, .panel
    h6 {
      font-size: 15vW; } }
  @media screen and (max-device-width: 600px) and (orientation: landscape) {
    .panel h1, .panel
    h2, .panel
    h3, .panel
    h4, .panel
    h5, .panel
    h6 {
      font-size: 15vW; } }
  @media screen and (min-device-width: 992px) {
    .panel h1, .panel
    h2, .panel
    h3, .panel
    h4, .panel
    h5, .panel
    h6 {
      font-size: 42px; } }
  .black-headline h1, .black-headline
  h2, .black-headline
  h3, .black-headline
  h4, .black-headline
  h5, .black-headline
  h6 {
    background: #000000;
    color: #977f43;
    padding: .5em;
    margin: 0 10vW 1em 10vW; }
    .black-headline h1 em, .black-headline
    h2 em, .black-headline
    h3 em, .black-headline
    h4 em, .black-headline
    h5 em, .black-headline
    h6 em {
      color: #ffffff !important;
      padding-top: .5em;
      display: block;
      font-style: normal; }
  .bg-layer h1, .bg-layer
  h2, .bg-layer
  h3, .bg-layer
  h4, .bg-layer
  h5, .bg-layer
  h6 {
    color: #ffffff !important; }

h1 {
  font-size: 60.2px;
  line-height: 1.16;
  font-weight: 300; }
  h1.logo {
    margin: 0; }

h2 {
  font-size: 42px;
  line-height: 1;
  font-weight: 300; }

.bg-layer h1, .bg-layer h2 {
  font-size: 30.1px; }

h3, h4 {
  font-size: 21px;
  line-height: 1;
  font-weight: 300; }

h5, h6 {
  font-size: 20px;
  line-height: 165%;
  font-weight: 400; 
padding-bottom:1em;
color: #000000;}

p {
  margin: 0 0 1.5rem;
  font-family: inherit;
  font-weight: normal;
  line-height: 165%; }
  @media screen and (max-device-width: 767px) {
    p {
      font-size: 15.96px; } }
  @media screen and (min-device-width: 768px) {
    p {
      font-size: 14px; } }
  .block p:last-of-type {
    margin-bottom: 0; }

a {
  color: #666666; }
  .logo a {
    color: #666666; }
    body.home .logo a {
      color: #fff; }
  .footer a {
    text-decoration: none; }
  a:active, a:focus {
    position: relative;
    top: 1px; }
  a.view-article:after {
    content: " \f0da"; }
  .mod_navigation a, #top-head a {
    text-decoration: none; }

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0; }
  .ce_text ul, .ce_text
  ol {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    list-style: square outside; }
  ul li,
  ol li {
    line-height: 165%; }
  ul.inline,
  ol.inline {
    margin: 0 1em 1.5rem -1em;
    padding: 0;
    list-style: none;
    overflow: hidden; }
    ul.inline > li,
    ol.inline > li {
      display: block;
      float: left;
      margin-left: 14px;
      list-style: none; }

dl {
  margin: 0 0 1.5rem;
  line-height: 165%; }

dd {
  margin: 0 0 0.5rem; }

blockquote {
  position: relative;
  margin: 1.5rem 1em 1.5rem 3rem;
  text-align: left;
  border-left: 5px solid #354a73;
  padding-left: 1em;
  text-indent: -0.4em; }
  blockquote cite {
    font-size: smaller;
    text-align: right;
    display: block; }

address {
  font-style: normal; }
  @media screen and (min-device-width: 992px) {
    .footer address p {
      margin: 0; } }
  @media screen and (max-device-width: 992px) {
    .footer address p {
      margin-bottom: 0.3rem; } }
  .footer address > div {
    margin-bottom: 0.75rem; }

/*** tables ****/
table {
  margin-bottom: 2em; }
  table th {
    text-align: left; }
  table tr:nth-child(even) td {
    background-color: gray; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-muted {
  color: #a6a6a6; }

.text-smaller {
  font-size: smaller; }

.uppercase, #page-header #main-nav {
  text-transform: uppercase; }

.footer * {
  font-size: .8rem; }

body:not([class*="architektur"]) .footer-data, body:not([class*="architektur"])
#page-header {
  background: #354a73; }
body[class*="architektur"] .footer-data, body[class*="architektur"]
#page-header {
  background: #000000; }

body.home #page-header {
  background: #ffffff !important; }
body.home #page-header .logo {
  background: transparent url(../images/Logo@2x.png) no-repeat center right/contain; }
body:not(.home) #page-header .logo {
  background: transparent url(../images/Logo-white@2x.png) no-repeat center right/contain; }
body.home #page-header .level_1 > li > a {
  color: #000000; }
body:not(.home) #page-header .level_1 > li > a {
  color: #ffffff; }
#page-header .level_2 > li > a {
  color: #a6a6a6; }
  body.home #page-header .level_2 > li > a:hover {
    color: #000000; }
  body:not(.home) #page-header .level_2 > li > a:hover {
    color: #ffffff; }
#page-header .level_3 > li > a {
  color: #a6a6a6; }
  #page-header .level_3 > li > a:hover {
    color: #ffffff; }
body.home #page-header .level_3, body[class*="architektur"] #page-header .level_3 {
  background-color: #1a1a1a; }
body[class*="immobilien"] #page-header .level_3 {
  background-color: #253450; }

body[class*="immobilien"] .skew .textPanel {
  background-image: url(../images/bg-skew-blue.png); }
body[class*="immobilien"] input[type="submit"].button {
  background: #354a73;
  color: white;
  padding: 1em;
  width: 33%;
  letter-spacing: .2em; }

body[class*="architektur"] .skew .textPanel {
  background-image: url(../images/bg-skew-black.png); }
body[class*="architektur"] input[type="submit"].button {
  background: #000000;
  color: white;
  padding: 1em;
  width: 33%;
  letter-spacing: .2em; }

@media screen and (max-width: 992px) {
  .responsive-logo {
    padding: .5em 1em; } }
@media screen and (min-width: 992px) {
  .responsive-logo {
    display: none; } }

@media screen and (max-width: 992px) {
  .nav-responsive {
    width: 30px;
    display: block;
    margin-right: 1em; }
    .nav-responsive > span {
      display: block;
      background: #ffffff;
      height: 3px;
      margin-bottom: 6px; } }

#page-header {
  background: #354a73; }
  #page-header * {
    color: white; }
  #page-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999; }
    @media screen and (min-width: 992px) {
      #page-header.sticky #top-head {
        borer-top: 5px solid #000000;
        height: 0;
        overflow: hidden; } }

@media screen and (min-width: 992px) {
  .nav-wrapper {
    -webkit-flex-basis: 60%;
    -moz-flex-basis: 60%;
    flex-basis: 60%;
    -ms-flex-preferred-size: 60%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify; }
    .nav-wrapper > .mod_navigation {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      box-flex: 2;
      -webkit-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2; } }

.logo a {
  display: block; }
  .logo a:hover {
    cursor: pointer; }
@media screen and (max-width: 992px) {
  .logo {
    display: none; } }
@media screen and (min-width: 992px) {
  .logo {
    -webkit-flex-basis: 20%;
    -moz-flex-basis: 20%;
    flex-basis: 20%;
    -ms-flex-preferred-size: 20%;
    height: 10vH;
    width: 100%; } }

#navigation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  #navigation::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 992px) {
    #navigation {
      -webkit-transition: all 300ms ease-in;
      -moz-transition: all 300ms ease-in;
      transition: all 300ms ease-in;
      height: 0;
      padding-left: 1em;
      padding-right: 1em;
      overflow: hidden; }
      #navigation.show {
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        padding-top: 1em;
        padding-bottom: 1em;
        height: auto; } }
  @media screen and (min-width: 992px) {
    #navigation {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      height: 100%;
      padding: 3em 0; }
      .sticky #navigation {
        -webkit-transition: all 500ms ease-in;
        -moz-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
        padding: 1em 0; }
        .sticky #navigation:hover {
          -webkit-transition: all 500ms ease-in;
          -moz-transition: all 500ms ease-in;
          transition: all 500ms ease-in;
          padding: 3em 0; }
      #navigation ul.level_2 {
        display: none; }
      #navigation:hover {
        -webkit-box-align: end;
        -moz-box-align: end;
        box-align: end;
        -webkit-align-items: flex-end;
        -moz-align-items: flex-end;
        -ms-align-items: flex-end;
        -o-align-items: flex-end;
        align-items: flex-end;
        -ms-flex-align: end;
        cursor: pointer; }
        #navigation:hover #main-nav .level_2 {
          display: block; } }

@media screen and (max-width: 992px) {
  #page-header #main-nav li {
    display: block; }
    #page-header #main-nav li > span,
    #page-header #main-nav li > a {
      display: block;
      padding: 1em 0;
      border-bottom: 1px solid white; }
    #page-header #main-nav li:last-child a, #page-header #main-nav li:last-child span {
      border: 0; } }
#page-header #main-nav .level_1 {
  width: 100%; }
  @media screen and (max-width: 992px) {
    #page-header #main-nav .level_1 {
      margin-bottom: 1em; } }
  @media screen and (max-width: 992px) and (max-width: 992px) {
    #page-header #main-nav .level_1 .level_2 {
      height: 0;
      overflow: hidden; } }
  @media screen and (max-width: 992px) {
      #page-header #main-nav .level_1 li:hover .level_2, #page-header #main-nav .level_1 li:focus .level_2 {
        height: auto;
        -webkit-transition: all 2s ease-out;
        -moz-transition: all 2s ease-out;
        transition: all 2s ease-out;
        overflow: no-content; } }
  @media screen and (min-width: 992px) {
    #page-header #main-nav .level_1 {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      #page-header #main-nav .level_1 > li {
        -webkit-flex-basis: 33.33333%;
        -moz-flex-basis: 33.33333%;
        flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        position: relative;
        padding: 0 3em;
        border-right: 1px solid #6f6f6f; }
        #page-header #main-nav .level_1 > li:last-child {
          border: 0; } }
  @media screen and (min-width: 992px) and (min-width: 992px) {
    #page-header #main-nav .level_1 .level_2 > li:hover {
      width: 200%;
      display: block; }
      #page-header #main-nav .level_1 .level_2 > li:hover .level_3 {
        display: block;
        position: absolute;
        top: -3em;
        left: 0%;
        margin-left: 100%;
        bottom: -3em;
        z-index: 10;
        width: 101%;
        padding: 3em 1em; } }
  @media screen and (min-width: 992px) {
      #page-header #main-nav .level_1 .level_3 {
        display: none; } }

.sitemap-footer {
  background: #ffffff; }
  @media screen and (max-width: 768px) {
    .sitemap-footer [class*="col"] {
      width: 100%; }
    .sitemap-footer h3 {
      margin-top: 2em; } }
  @media screen and (min-width: 768px) {
    .sitemap-footer {
      padding: 6em 7.5vW; } }
  @media screen and (min-width: 768px) {
    .sitemap-footer ul.level_1 {
      padding-right: 7.5vW;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: justify;
      -webkit-box-align: start;
      -moz-box-align: start;
      box-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      align-items: flex-start;
      -ms-flex-align: start; } }
  @media screen and (max-width: 767px) {
    .sitemap-footer ul.level_1 > li.submenu > a,
    .sitemap-footer ul.level_1 > li.submenu > span {
      padding-top: 1em;
      margin-top: 1em;
      border-top: 1px solid #666666; }
    .sitemap-footer ul.level_1 > li.submenu:first-child > a,
    .sitemap-footer ul.level_1 > li.submenu:first-child > span {
      border: 0; } }
  .sitemap-footer hr {
    margin-bottom: 2em;
border-top: 1px solid #efeeee;
 }

 .hr {
    margin-bottom: 2em;
border-top: 1px solid #efeeee;
 }

.social-media li {
  display: inline-block;
  margin-right: .8em; }
  .social-media li a:before {
    content: ' ';
    height: 30px;
    width: 30px;
    display: inline-block; }
  .social-media li a > span {
    display: none; }
  .social-media li .facebook:before {
    background-image: url(../icons/facebook-grey.png); }
  .social-media li .google-plus:before {
    background-image: url(../icons/google-plus-grey.png); }
  .social-media li .you-tube:before {
    background-image: url(../icons/you-tube-grey.png); }

.mod_breadcrumb {
  font-size: 12.25px;
  padding-top: 2em; }
  .mod_breadcrumb li {
    display: inline-block; }
    .mod_breadcrumb li:after {
      content: ' » '; }
    .mod_breadcrumb li a {
      font-weight: 300;
      text-decoration: none;
      padding: 0 .5em; }
    .mod_breadcrumb li:last-child:after {
      content: ''; }
    .mod_breadcrumb li.active a {
      font-weight: 600; }

.mod_newslist .panel {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .mod_newslist .panel .contentPanel {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
    -webkit-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2;
    margin: 1em 0; }

/*** CE ***/
[class*="ce_"] ul {
  list-style: none; }
[class*="ce_"] ul:not([class*="cols_"]) li {
  line-height: 1.2;
  padding-top: .5em;
  padding-bottom: .5em;
  background-image: url(../icons/more-infos-gold.png); }
  [class*="ce_"] ul:not([class*="cols_"]) li h2, [class*="ce_"] ul:not([class*="cols_"]) li h3, [class*="ce_"] ul:not([class*="cols_"]) li h4, [class*="ce_"] ul:not([class*="cols_"]) li strong {
    font-weight: 300; }
@media screen and (max-device-width: 600px) and (orientation: landscape) {
  [class*="ce_"].skew, [class*="ce_"].banner {
    background-image: none; } }
@media screen and (max-device-width: 768px) {
  [class*="ce_"].skew, [class*="ce_"].banner {
    background-position: top center !important; } }
@media screen and (max-device-width: 991px) and (orientation: portrait) {
  [class*="ce_"].skew .container, [class*="ce_"].banner .container {
    min-height: 30vH;
    max-height: 50vH; } }
@media screen and (min-device-width: 992px) {
  [class*="ce_"].skew .container, [class*="ce_"].banner .container {
    min-height: 60vH; } }
@media screen and (min-device-width: 992px) {
  .home .mod_article.first [class*="ce_"].banner .container {
    min-height: 75vH; } }
[class*="ce_"].bg-image {
  position: relative; }
[class*="ce_"].single-item-center > .container, [class*="ce_"].single-item-center > [class*="ce_"].container > .container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
[class*="ce_"].text-teaser {
  background-color: #fbfafa;
  padding: 0 1em 1em;
  margin: 0 1em;
  overflow: hidden; }
  [class*="ce_"].text-teaser figure.float_above {
    margin: -1em 0 1em 0; }


[class*="ce_"].text-teaser1 {
  background-color: #fbfafa;
  padding: 0 1em 1em;
  margin: 0 1em;
  overflow: hidden; }
  [class*="ce_"].text-teaser1 figure.float_above {
    margin-right:auto;
    margin-left:auto; 
align:center;}

.text-teaser1 h3{
    color: #262626;
    margin: 1em 0;
    padding: 0 1em; }




/*ind. CE_Text => BG_Image ***/
.bg-layer .textPanel {
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1em 2em;
  margin-left: auto;
  margin-right: auto;
  width: 75vW; }
@media screen and (max-width: 480px) and (orientation: portrait) {
  .banner .textPanel {
    background-color: #a6a6a6;
    background-color: rgba(0, 0, 0, 0.35); }
    .banner .textPanel * {
      color: #ffffff; }
    .banner .textPanel .more-link, .banner .textPanel .mod_newslist .panel p.more a, .mod_newslist .panel p.more .banner .textPanel a, .banner .textPanel [class*="ce_"] ul:not([class*="cols_"]) li, [class*="ce_"] ul:not([class*="cols_"]) .banner .textPanel li {
      background-image: url(../icons/more-infos-white.png); } }
@media screen and (max-width: 768px) {
  .banner .textPanel {
    padding: 2em; } }
@media screen and (min-width: 768px) {
  .half-width .textPanel {
    width: 50%;
    margin: 2em 50% 2em 0; } }

@media screen and (min-width: 768px) {
  .ce_gallery:not(.ref-logos) {
    padding: 6em 7.5vW; }
    .ce_gallery:not(.ref-logos) ul.cols_3 {
      -webkit-columns: 3 0.5em;
      -moz-columns: 3 0.5em;
      columns: 3 0.5em; }
    .ce_gallery:not(.ref-logos) ul.cols_4 {
      -webkit-columns: 4 0.5em;
      -moz-columns: 4 0.5em;
      columns: 4 0.5em; }
    .ce_gallery:not(.ref-logos) ul[class*="cols_"] li {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin: 0;
      padding-bottom: .5em; }
    .ce_gallery:not(.ref-logos) ul[class*="cols_"] figure {
      margin: 0; } }
.ce_gallery.ref-logos {
  padding: 6em 7.5vW; }
  .ce_gallery.ref-logos > ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: distribute;
    -moz-box-pack: distribute;
    box-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    box-lines: single;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }

input[type="text"],
input[type="submit"],
input[type="email"],
textarea {
  padding: .7em 1.4em;
  font-size: 14px;
  border: 0; }

.ce_form input[type="text"], .ce_form
input[type="email"], .ce_form
textarea {
  width: 100%;
  border: 1px solid #dcdcdc; }

.submit_container {
  width: 100%; }

.ce_form {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto; }
  .ce_form::after {
    clear: both;
    content: "";
    display: table; }
  .ce_form .row {
    margin: 1.5em 0; }
    .ce_form .row .widget-text {
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
      margin: 0 1.5%; }
    .ce_form .row .widget-textarea {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      margin: 0 1.5%; }

.widget-headline > p {
  color: black; }

.mod_form.newsletter .widget-text {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25) transparent;
  -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25); }
  .mod_form.newsletter .widget-text + .widget-explanation {
    margin-top: 1em; }
    .mod_form.newsletter .widget-text + .widget-explanation > p {
      font-size: 14px;
      line-height: 1.2; }
  .mod_form.newsletter .widget-text input[type="submit"] {
    background: transparent url(../icons/icon-submit.png) no-repeat center center;
    text-indent: -999999px;
    float: right; }

.explanation {
  color: #a6a6a6; }

body {
  background: #ffffff; }
  body.home {
    background: #f2f0f0; }

#top-head {
  background: #2f2f2f;
  position: relative; }
  #top-head > .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    @media screen and (max-width: 992px) {
      #top-head > .container {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: justify;
        width: 100%; } }
  #top-head p {
    margin: 0;
    font-weight: 300; }
  @media screen and (max-width: 992px) {
    #top-head .claim {
      display: none; }
    #top-head .phone, #top-head .mail {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      box-flex: 2;
      -webkit-flex: 2;
      -moz-flex: 2;
      -ms-flex: 2;
      flex: 2; } }
  @media screen and (min-width: 992px) {
    #top-head {
      padding: 0 7.5vW; } }

.parallax-container {
  padding: 6em 0;
  background-attachment: fixed;
  min-height: 60vH;
  font-size: 14px;
  color: white; }

.footer-data {
  padding: 6em 0; }
  .footer-data, .footer-data * {
    color: #ffffff;
    text-align: center; }
  .footer-data a {
    text-decoration: none; }
  .footer-data [class*="col"] {
    border-left: 1px solid #ffffff;
    padding: 1.4em 0; }
    .footer-data [class*="col"] strong {
      font-weight: 300; }
      @media screen and (max-width: 991px) {
        .footer-data [class*="col"] strong {
          font-size: 24.5px; } }
      @media screen and (min-width: 992px) {
        .footer-data [class*="col"] strong {
          font-size: 30.1px; } }
    .footer-data [class*="col"]:first-child {
      border: 0; }

.bottom-footer {
  background: #dcdcdc;
  padding: 1em 7.5vW; }
  .bottom-footer > .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .bottom-footer > .container > * {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      flex-basis: 50%;
      -ms-flex-preferred-size: 50%; }
    .bottom-footer > .container .copyright {
      text-align: right; }

/**** Extras *****/
@media screen and (min-width: 992px) {
  #immo-des-monats > * {
    margin-left: 50%; } }
@media screen and (max-width: 767px) {
  #immo-des-monats .textPanel {
    width: 100%; } }

#banner-team .banner {
  background-position: top center !important;
  background-size: 90% auto !important; }

#banner-mitte .banner {
  background-position: top center !important; }
#banner-mitte .textPanel {
  padding: 10vH 0; }
#banner-mitte .blueAccent h1, #banner-mitte .blueAccent h2, #banner-mitte .blueAccent h3, #banner-mitte .blueAccent h4, #banner-mitte .blueAccent h5, #banner-mitte .blueAccent h6 {
  margin-bottom: .5em !important; }
  #banner-mitte .blueAccent h1 strong, #banner-mitte .blueAccent h2 strong, #banner-mitte .blueAccent h3 strong, #banner-mitte .blueAccent h4 strong, #banner-mitte .blueAccent h5 strong, #banner-mitte .blueAccent h6 strong {
    line-height: 0.25; }
  #banner-mitte .blueAccent h1 ~ *, #banner-mitte .blueAccent h2 ~ *, #banner-mitte .blueAccent h3 ~ *, #banner-mitte .blueAccent h4 ~ *, #banner-mitte .blueAccent h5 ~ *, #banner-mitte .blueAccent h6 ~ * {
    padding-left: 3em;
    font-size: larger; }

/*# sourceMappingURL=new-styles.css.map */
