.panel{
    padding:2em;
    position: relative;
    @extend .center-content;
    figure{
            margin:0;
        }
    .ce_text{
        
        .teaser{
            margin:1em 0;
        }
    }

    p.more {
        text-align:right;
        margin:0;
        a {
            @extend .more-link;
        }
    }
    @extend .darkText;
    @extend .bg-white;
    &:first-child{
        @extend .orange-gradient;
        @extend .white-text;
        a {
            color:$whiteColor !important;
        }
    }
}