.more-link{
    font-size:1.125 * $rem-base;
    line-height:1;
    background:transparent url(../icons/more-infos.png) no-repeat 0 40%;
    padding-left:1.5em;
    float:right;
}
.quote{
    &, &  *{
        color:$quoteColor !important;
    }
}
.white-text{
   &, &  *{
        color:$whiteColor !important;
    } 
}
.gold-text{
       &, &  *{
        color:$goldColor !important;
    } 
}
.dark-gradient{
    @include linear-gradient(lighten($blackColor,25%), $blackColor);
}
.grey-gradient{
    @include linear-gradient(lighten($blackColor,25%), $grayColor);
}
.panel{
    padding:3em;
}
#immo-des-monats{
    > * {
        margin-left: calc(50% - 3em);
    }
}
.col-1{
    //@include span-columns(1);
}
.col-2{
    //@include span-columns(2);
}
.col-3{
    //@include span-columns(3);
    @include flex-basis(25%);
}
.col-4{
    //@include span-columns(4);
    @include flex-basis(33%);
}
.col-5{
    //@include span-columns(5);
}
.col-6{
    //@include span-columns(6);
    @include flex-basis(50%);
}
.col-7{
    //@include span-columns(7);
}
.col-8{
    //@include span-columns(8);
}
.col-9{
    //@include span-columns(9);
}
.col-10{
    //@include span-columns(10);
}
.col-11{
    //@include span-columns(11);
}
.col-12{
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(stretch);
}