* {
    box-sizing: border-box;
    @include selection(true) {
        background-color:$orangeColor;
        color:lighten($orangeColor,100%);
    }
}

img, .responsive-img {
    max-width: 100%;
    width: auto;
    height: auto;
}
figure{
    margin:0;
}

hr {
    border-top:1px solid $borderColor;
}

.invisible{
    display:none;
}
.no-mobile{
    @media screen and (max-width:$screen-xs){
        display:none;
    }
}


//Backgrounds & gradients
.bg-white{
    background-color: $whiteColor;
}
.bg-body{
    background-color:$bgBody; 
}
.bg-grey{
    background-color:$lighterbgColor;
}
.bg-black{
    background: $blackColor;
    > * {color:$lightGrayColor;}
}
.dark-gradient{
    @include linear-gradient(lighten($blackColor,25%), $blackColor);
}
.grey-gradient{
    @include linear-gradient(lighten($grayColor,25%), $grayColor);
}
.orange-gradient{
    @include linear-gradient(lighten($orangeColor,25%), $orangeColor);
}

//Individual Text Colors
.white-text{
    &, &  *{
        color:$whiteColor;
    }
    a.more-link{color:$whiteColor;}
}
.gold-text{
    &, &  *{
        color:$goldColor !important;
    } 
}
.blue-text{
    color:$blueColor !important;
}
[class*="Accent"]{
    strong{
        padding:$defaultPadding/4 $defaultPadding/2;
        font-weight:300;
        color:$whiteColor;
        display:inline-block;
    }
    .sidebar &.info-box{
        padding:$defaultMargin * 2 0;       
        > h1, > h2, > h3, > h4, > h5, > h6, > p{
            margin-left: $defaultMargin * 1;
            margin-right: $defaultMargin * 1;
        }
        > p:last-of-type {
            margin-bottom: $defaultMargin;
        }
        figure.float_below{
            margin-bottom: -$defaultMargin * 3;
        }
        figure.float_above{
            margin-top: -$defaultMargin * 3;
        }
    }
}

.blueAccent{
    background: $blueColor;
    .newsletter & {
        @include alpha-background-color(rgba($blueColor, 0.5), white);
    }
    .sidebar &.info-box{
        background: $blueColor;
         &, & *{color:$whiteColor !important;}
    }
}

.blueAccent1{
    background: $blueColor;
    .newsletter & {
        @include alpha-background-color(rgba($blueColor, 0.5), white);
    }
    strong {
        @media screen and (max-width:$screen-md){
            padding: 1em;
        }
        @media screen and (min-width:$screen-md){
            padding: 1em 12em;
        }
        font-weight: 500;
    }
    .sidebar &.info-box{
        background: $blueColor;
         &, & *{color:$whiteColor !important;}
    }
}

.blackAccent{
    background: $blackColor;
    .newsletter & {
        @include alpha-background-color(rgba($blackColor, 0.5), white);
    }
    strong {
        padding: 1em 12em;
        font-weight: 500;
    }
    .sidebar &.info-box{
        background: $blackColor;
         &, & *{color:$whiteColor !important;}
    }
}

//Paddings/Margins
.inner-vert-padding{
    padding-top:$vertPadding;
    padding-bottom:$vertPadding;
}
.inner-hor-padding{
    padding-left:$horPadding;
    padding-right:$horPadding;
}

//Heights/Widths
.fullHeight{
    height:100vH;
}
// Resources
.claim {
    #top-head & {
        > p{
            font-size:2 * $rem-base;
            margin-right:5em;
            padding-right:2em;
            color:$defaultColor;
            background:transparent url('../icons/logo-small.png') no-repeat center right;
        }
    }

}
/*** Contact-data***/
.phone, .mail, .hours {
    #page-footer &{
        text-align:center;
        p:first-child:before{
            content:' ';
            @include size(66px);
            margin:0 auto 2.5em;
            @extend %background-icon;
        }
    }
}
.phone, .mail{
    #top-head & {
        > p:first-child{
            display:none;
        }
        a {
            display:block;

            padding:.5em 2em .5em 3.3em;
            margin:.5em 0 .5em 2em;
            @extend %background-icon;
            background-size: 30px 30px;
            @media screen and (max-width:$screen-xs) and (orientation:portrait){
                > span {display: none;}
            }
            @media screen and (max-width:$screen-xs) and (orientation:landscape){
                background-image:none !important;
            }
            @media screen and (max-width:$screen-smallPad){
                padding:1em;
            }

        }
    }
}
.phone{
    #top-head & {
        background-color:lighten($darkGrayColor,15%);
        a{
            background-image:url(../icons/phone-white.png);
        }
    }
    #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/phone-white.png);
        }
    }


}
.mail{
    #top-head & {
        a{
            background-image:url(../icons/mail-white.png);
        }
    }
    #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/mail-white.png);
        }
    }
}
.hours{
    #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/hours-white.png);
        }
    }
}

/** Javascript generated Classes ***/
.more-link{
    text-decoration: none;
    background-image:url(../icons/more-infos-base.png);
    font-size:inherit;
    line-height:1;
    padding-left:1.5em;
    @include house-icon;
}
.blueAccent.more-link {
    color:$baseColor;
}
.white-text.more-link{
    background-image:url(../icons/more-infos-white.png); 
}
.gold-text.more-link{
    background-image:url(../icons/more-infos-gold.png); 
}
// Google Map
.iframe-elastic {
    position: relative;
    padding-bottom: 27.5%; /* ratio width/height in % Bsp. (450 ÷ 500 = 0.9 = 90%) */
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}

.flexstart{
    @include align-items(flex-start);
}


.center-content{
    > .container{
        @include display(flex);
        @extend .multi-items-center;
    }
}
.multi-items-center{
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
}
.single-item-center{
    @include align-items(center);
}
.equal{
    @include justify-content(space-between);
    @include align-items(stretch);
}
.column-reverse{
    @include flex-direction(column-reverse);
}
/** Extras **/
.circle{
    @include circle-quote(300px);
    &.quote{
        position:relative;
        padding:4.2em;
        .lead {
            margin:0 0 1em 0;
        }
        &:before{
            @include badge-style(80px);
            position: absolute;
            top:0;
            right:0;
            z-index: 999;
        }
    }
    &.circle-image{
        overflow:hidden;
        img {
            max-width: none;
            height:100%;
            width:auto;
        }
    }
}


.skew{
    .container{position:relative;}
    .textPanel{
        @media screen and (max-device-width:$screen-xs){
            display:none;
            height:0;
            &:before{
                display:none;
            }
        }
        @media screen and (min-device-width:$screen-md){
            position:absolute;
            top:-2em;
            left:0;
            min-height:400px;
        }
        &:before{
            @include badge-style(80px);
            margin:-$defaultPadding 0 $defaultPadding;
        }
        @include size(40%);
        padding:4em;
        background:{
            color:transparent;
            repeat:no-repeat;
            position:center center;
            size:cover;
        }

        p {
            color:$lightGrayColor;
            &:first-child{
                @extend %lead;
            }
            &:last-child{
                margin-bottom: 80px;/** same size/height as badge-style ***/
            }
        }

    }
}