body {
    &.home{background:$bgBody;}
    background: $whiteColor;
    @extend %reset;
}
#top-head{
    background:$darkGrayColor;
    position:relative;
    > .container{
       
        @include display(flex);
        @include align-items(center);
        @media screen and (max-width:$screen-md){
            @include justify-content(space-between); 
            width:100%;
        }
    }
    p{
        margin:0;
        font-weight:300;
    }
    @media screen and (max-width:$screen-md){
       
        .claim{display:none;}
        .phone, .mail {
            @include flex(2);
        }
    }
    @media screen and (min-width:$screen-md){
         padding:0 $horPadding;
    }
}
.parallax-container{
    padding:$vertPadding 0;
    background-attachment: fixed;
    min-height: 60vH;
    font-size: $rem-base;
    color:lighten($blackColor, 100%);
}
.footer-data{
    padding:1.5 * $defaultPadding 0;

    &, & * {
        color:$whiteColor;
        text-align:center;
    }
    a {
        text-decoration: none;
    }
    [class*="col"] {
        border-left:1px solid $whiteColor;
        padding:1.4em 0;
        strong {
            @media screen and (max-width:$screen-md - 1){
                font-size:1.75 * $rem-base;  
            }
            @media screen and (min-width:$screen-md){
              font-size:2.15 * $rem-base;  
            }
            
            font-weight: 300;
        }
        &:first-child{
            border:0;
        }
    }
}
.bottom-footer{
    background: $grayColor;
    padding:1em $horPadding;
    > .container{
        @include display(flex);
        @include align-items(center);
        > * {
            @include flex-basis(50%);
        }
        .copyright{
            text-align: right;
        }

    }
}
#bgkontakt {
    background-image:url("../images/hg_kontakt.jpg");
    background-repeat:no-repeat;
}
    body.two-columns .page-content {
        padding:2 * $defaultPadding 0;
    }