[class*="mod"]{
/*    > .block{
        body:not(.home) .page-content &{
            @media screen and (min-width:$screen-sm){
                padding:$defaultPadding 0;
            }
        }
    }*/
}
.mod_article{
    &.news-teaser{
        /*        padding-bottom: $vertPadding;*/
    }
    &.bg-white{
        /*        padding:$defaultPadding 0;*/
    }
}
.mod_breadcrumb{
    font-size:$rem-base * .875;
    padding:$defaultPadding 0;
    li {
        display:inline-block;
        &:after{
            content:' » ';
        }
        a {
            font-weight:300;
            text-decoration:none;
            padding:0 .5em;
        }
        &:last-child{
            &:after{
                content: '';
            }
        }
        &.active a {font-weight:600;}
    }
}

.mod_newslist{
    .panel {
        @extend .bg-white;
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        .contentPanel{
            @include flex(2);
            margin: $defaultPadding/2 0;
            
        }
        p.more {
            a{
                @extend .more-link;
            }
        }
        
        &:first-child{
            @extend .orange-gradient;
            @extend .white-text;
        }
    }
}

/*** CE ***/
[class*="ce_"]{}
[class*="ce_"]{
    &.banner{
        .container{
            min-height:50vH;
        }
    }
    &.bg-image{
        position: relative;
    }
    &.single-item-center{
        > .container {
            @include display(flex);
            @extend .single-item-center;
        }
    }
    &.circle{
        @include circle-quote(300px);
        padding:4em;
        &.quote{
            position:relative;
            &:before{
                @include badge-style(80px);
                position: absolute;
                top:0;
                right:0;
                z-index: 999;
            }
        }
    }
    &.skew{
        em {
            font-style: normal;
            color:$goldColor;
        }
        .textPanel{

            &:before{
                @include badge-style(80px);
                margin:-$defaultPadding 0 $defaultPadding;
            }
            @include size(40%);
            background: transparent url(../images/bg-skew.png) no-repeat center center / cover;
            padding:4em;
            p {
                color:$lightGrayColor;
                &:first-child{
                    @extend %lead;
                }
                &:last-child{
                    margin-bottom: 80px;/** same size/height as badge-style ***/
                }
            }

        }
    }
    &.text-teaser{
        background-color: $lighterbgColor;
        padding:0 $defaultPadding/2 $defaultPadding/2;
        margin:0 $defaultPadding/2;
        overflow:hidden;

        figure{
            &.float_above{
            margin:-$defaultPadding/2 0 $defaultPadding/2 0;
        }
        }
    }
}
/*ind. CE_Text => BG_Image ***/
.textPanel {

    .bg-layer & {
        @include bg-layer($blackColor);
        width:75vw;
    }
    .banner &{
        @media screen and (max-width:$screen-xs) and (orientation:portrait){
            @include alpha-background-color(rgba($blackColor, 0.35), white);
            * {color:$whiteColor;}
            .more-link{
                background-image:url(../icons/more-infos-white.png);
            }
        }
        @media screen and (max-width:$screen-sm){
            padding:$defaultPadding; 
        }

    }
    .half-width & {
        @media screen and (min-width:$screen-sm){
            width:50%;
            margin:$defaultPadding 50% $defaultPadding 0;
        }
    }
}
.ce_gallery{
    
    &:not(.ref-logos){
        @media screen and (min-width:$screen-sm){
          padding: $vertPadding $horPadding;  
        }
        
        ul[class*="cols_"]{
            li{
                margin:0;
            }
            figure{
                text-align:center;
            }
        }
        ul.cols_4{
            @include display(flex);
            @include flex-wrap(wrap);
            li {
                @media screen and (max-width:$screen-xs){
                    @include flex-basis(100%);
                }
                @media screen and (min-width:$screen-xs) and (max-width:$screen-sm - 1){
                    @include flex-basis(50%);
                }
                @media screen and (min-width:$screen-sm) and (max-width:$screen-lg - 1) {
                    @include flex-basis(33%);
                }
                @media screen and (min-width:$screen-lg){
                    @include flex-basis(25%);
                }
                line-height:0;
                &:last-child{
                    @include flex-grow(0);
                    @include flex-shrink(0);
                }
                figure{
                    margin:$defaultPadding/4;
                }
            }
        }  
    }
    &.ref-logos{
        padding: $vertPadding $horPadding;
        > ul {
            @include display(flex);
            @include justify-content(space-around);
            @include align-items(center);
            @include flex-wrap(nowrap);
        }
    }
}