#page-header{
    background:$baseColor;
    height:$main-menu-height;
    *{color:white !important;}
    .container {
        position: relative;
        height:100%;

        .navigation, .logo{
            @include span-columns(6);
        }
        #main-nav.level_1, .logo img{
            position:absolute;
            top:50%; 
        }
        #main-nav.level_1{
            left:0;
            margin-top:-1em;
            width: 50%;
        }
        .logo img{
            right:0;
            margin-top:-25px;
            height:50px;
            width: auto;
        }
    }

    #main-nav.level_1{
        @include outer-container;
        > li {
            @include span-columns(4);
            position: relative;
            display:inline-block;
            > .level_2 > li:hover > .level_3{
                @include show-level_3;
                height:$main-menu-height;
                display:block;
            }
        }
    }
    .level_2, 
    .level_3{
        @include hide;
    }
    &:hover{
        height:$main-menu-height-hover;
        .logo img {
            bottom:0;
            top:auto;
            margin-top: 0;
        }
        #main-nav.level_1{
            top:0;
            margin-top:0;
        }
        .level_2{
            @include show;
        }
    }
}

