//@import "reset.css";

$base-font-size:            100% !default;
$base-line-height:          165% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1.5rem;

$headings-font-family:    "Open Sans", sans-serif !default;
$body-font-family:        "Open Sans", sans-serif !default;

$heading-text-color:        $goldColor;
$body-text-color:           $defaultColor;
$text-muted-color:          lighten($defaultColor,25%);

%lead{
   font-size: $rem-base * 1.4;
   line-height: 1.5;
}
%bold{font-weight: 600;};
%unstyled-list{
    padding: 0;
    list-style: none;
}
%footerHeaderstyle{
    font-size: 1.4 * $rem-base;
    font-weight: 300;
    color:$baseColor;
    display:block;
    margin-bottom:1em;
}


html,
body {
    font-size: 100%;
    /*prevents ios safari from zooming on orientation change (maybe)*/
    -webkit-text-size-adjust: none;
}
// body typography
body {
    color: $body-text-color;
    font-family: $body-font-family;
    font-size:$rem-base;
}
a{
    .mod_navigation &,
    #top-head &{
        text-decoration: none;
    }
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0 0 .5em 0;
    padding:0;
    font-family: $headings-font-family;
    color: $heading-text-color;
    font-weight:300;
    a{
        text-decoration: none;
    }
/*    .goldHeadline & {
        color:$goldColor !important;
    }*/
    .footer-data & {
        display:none;
    }
    .sitemap-footer & {@extend %footerHeaderstyle;}
    .ce_text &{ margin-bottom: 0;}
    .text-teaser &{
         color:darken($defaultColor,25%);
         margin:1em 0;
         @include house-icon;
         padding:0 1em;
         background-image:url(../icons/more-infos-gold.png);
    }
}
h1 {
    font-size:4.3 * $rem-base;
    line-height: 1.16;
    font-weight:300;
}

h2 {
    font-size:3 * $rem-base;
    line-height: 1;
    font-weight:300;
}

h3, h4 {
    font-size:1.5 * $rem-base;
    line-height: 1;
    font-weight:300;
}


h5, h6 {
    font-size: $rem-base;
    line-height: $base-line-height;
    font-weight:600;
}
// paragraph text
p {
    margin: 0 0 $paragraph-margin;
    font-family: inherit;
    font-size: $rem-base;
    font-weight: normal;
    line-height: $base-line-height;
    
    .ce_text &{
        @extend %clearfix;
    }
    .ce_text &:last-child{
        margin-bottom: 0;
    }
    &.lead{
        @extend %lead;
    }
}

a{
    color:$body-text-color;
    .logo &{
        color:$defaultColor;
        body.home & {color:#fff;}
    }
    .footer &{
        text-decoration: none;
    }
    &:active, &:focus{
        position: relative;
        top: 1px;
    }
    //** ToDo Style some links with small icons
    &.view-article:after{
        content:  " \f0da";
    }
}
strong{ @extend %bold;}
// lists
ul,
ol {
    list-style: none;
    margin:0;
    padding:0;
    .ce_text & {
    padding-left: 1.5rem;
    margin-bottom:$paragraph-margin;
    list-style: square outside;
    }

    li {
        line-height: $base-line-height;
    }

    &.inline {
        margin: 0 1em $paragraph-margin -1em;
        padding: 0;
        list-style: none;
        overflow: hidden;

        & > li {
            display: block;
            float: left;
            margin-left: $rem-base;
            list-style: none;
        }
    }
}
dl {
    margin: 0 0 $paragraph-margin;
    line-height: $base-line-height;
}

dt {
    @extend %bold;
}

dd {
    margin: 0 0 0.5rem;
}
// blockquotes
blockquote {
    position: relative;
    margin: 1.5rem 1em 1.5rem 3rem;
    text-align: left;
    border-left: 5px solid $baseColor;
    padding-left: 1em;
    text-indent: -0.4em;
    
    #recommends & {
        @extend %reset;
    }

    p {
        @extend %lead;
    }
    cite{
        font-size: smaller;
        text-align: right;
        display: block;
    }
}
address{
    font-style: normal;
    .footer & {

        p{
            @media screen and (min-device-width:$screen-md){
                margin:0;
            }
            @media screen and (max-device-width:$screen-md){
                margin-bottom: $paragraph-margin * 0.2;
            }
        }
        > div {
            margin-bottom: $paragraph-margin * 0.5
        }
    }
}
.footer * {
    font-size: .8rem;
}
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

.text-muted { color: $text-muted-color; }
.text-smaller {font-size: smaller;}

/*** tables ****/
table {
    body:not(.impressum){width:100%;}
    
    margin-bottom:2em;
    th{
        text-align: left;
        @extend %bold;
    }
    tr:nth-child(even) td {
        background-color: lighten($baseColor,10%);
    }
}
