/**** Extras *****/
.bg-image{
    &.banner{
        position: relative;
        @include display(flex);
        @include flex-direction(column);
        p {
           @extend %lead;
        }
    }
}

.circle{
    background: $blackColor;
    > * {color:$lightGrayColor;}
    @include circle-quote(300px);
    padding:4em;
}
.skew{
    .textPanel{
        margin-top:-4em;
        &:before{
            @include badge-style(80px);
            margin:-2em 0 2em;
        }
       @include size(40%);
       background: transparent url(../images/bg-skew.png) no-repeat center center / cover;
       padding:4em;
       p {
           color:$lightGrayColor;
           &:first-child{
               @extend %lead;
           }
           &:last-child{
               margin-bottom: 80px;
           }
       }
       
    }
}
.circle{
    position:relative;
    &:before{
        @include badge-style(80px);
        position: absolute;
        top:0;
        right:0;
        z-index: 999;
    }
}



.textPanel {
/*    &.container{
        width: 100%;
    }*/
    .darkText &{
        background: rgba(0,0,0,.5);
        padding:1.5em 4.5em;
        color:white;
        text-transform:uppercase;
    }
    .blueAccent &{
        h1, h2, h3, h4, h5, h6{
            background: $baseColor;
            color:$whiteColor;
            display:inline-block;
            padding:0.5em 2em;
        }
    }
}





.text-teaser{
    background-color: $lighterbgColor;
    padding:0 1em 1em;
    
    figure.float_above{
        margin:-2em 0 2em 0;
    }
}
#immo-des-monats{
    > * {
        margin-left: 50%;
    }
    .textPanel{
        width:50%;
    }
}
.claim {
    #top-head & {
        > p{
            font-size:2 * $rem-base;
            margin-right:5em;
            padding-right:2em;
            color:$defaultColor;
            background:transparent url('../icons/logo-small.png') no-repeat center right;
        }
    }

}
/*** Contact-data***/
.phone, .mail, .hours {
    #page-footer &{
        text-align:center;
        p:first-child:before{
            content:' ';
            @include size(66px);
            margin:0 auto 2.5em;
            @extend %background-icon;
        }
    }
}
.phone, .mail{
    #top-head & {
        > p:first-child{
            display:none;
        }
        a {
            padding:.5em 2em .5em 3.3em;
            margin:.5em 0;
            display:block;
            @extend %background-icon;
            background-size: contain;
            margin-left:2em;
        }
    }
}
.phone{
    #top-head & {
        background-color:lighten($darkGrayColor,15%);
        a{
            background-image:url(../icons/phone-white.png);
        }
    }
    #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/phone-white.png);
        }
    }


}
.mail{
    #top-head & {
        a{
            background-image:url(../icons/mail-white.png);
        }
    }
    #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/mail-white.png);
        }
    }
}
.hours{
        #page-footer & {
        text-align:center;
        p:first-child:before{
            background-image:url(../icons/hours-white.png);
        }
    }
}