/*** Extends ***/
%background-icon{
    background:{
        color:transparent;
        repeat:no-repeat;
        position: 0% 0%;
    }
}
@mixin bg-layer($col) {
    @include alpha-background-color(rgba($col, 0.5), white);
    color:lighten($col,100%);
    padding:$defaultPadding/2 $defaultPadding;
    margin:{
        left:auto;
        right:auto;
    };
    @extend %lead;
}
@mixin black-headline{
    background: $blackColor;
    color:$goldColor;
    padding:.5em;
    margin:0 10vW $defaultPadding/2 10vW;

    em {
        color:$whiteColor !important;
        @extend %lead;
        padding-top: .5em;
        display:block;
        font-style: normal;
    }
}




/*** Mixins ***/
@mixin button-style($col){
    background: $col;
    color: white;
    padding: 1em 3em;
    letter-spacing: .2em;
}

@mixin badge-style($size){
    content:'';
    display:block;
    @include size($size);
    background:transparent url(../images/badge-icon.png) no-repeat center center;
    background-size:contain;
}

/*** Mixins ***/
@mixin show-level_3{
    position: absolute;
    top:-3em;
    left:0%;
    margin-left:100%;
    bottom:-3em;
    z-index: 10;
    width:101%;
    padding:3em 0em;
    a {padding:0 1em;}
}
@mixin house-icon{
    background:{
        color:transparent;
        repeat:no-repeat;
        position: 0% 0%;
    }
}
@mixin circle-quote($item) {
    width: $item !important;
    height: $item !important;
    line-height: $item;
    -webkit-border-radius: $item/2;
    border-radius: $item/2;
}
