/* ** COLORS ** */
$foo: rgba(235,54,24,0.5);
$bgBody:#f2f0f0; //body.home BG
$lighterbgColor:#fbfafa;

$defaultColor: #666666;
$blueColor: #354a73; // blue
$grayColor: #dcdcdc;
$lightGrayColor: #efefef;
$borderColor:#d9d9d9;

$darkGrayColor: #2f2f2f;
$darkHeadline:#262626;

$goldColor:#977f43;
$quoteColor: $goldColor;
$orangeColor: #eb6909;

$inactiveColor: #7f889e;

$transparentWhite: rgba(255,255,255,0.8);
$whiteColor: #ffffff;
$blackColor: #000000;

//ColorCodes

$baseColor:$blueColor;


/* ** NUMBERS ** */
$defaultMargin: 1.4em;
$defaultPadding: 2em;
$horPadding:7.5vW;
$vertPadding:4em;


/*** Typo ***/
$base-font-size:            100% !default;
$base-line-height:          165% !default;
$rem-base:                  14px !default;

$paragraph-margin:          1.5rem;

$headings-font-family:    "Open Sans", sans-serif !default;
$body-font-family:        "Open Sans", sans-serif !default;

$heading-text-color:        $goldColor;
$body-text-color:           $defaultColor;
$text-muted-color:          lighten($defaultColor,25%);


