/* ** COLORS ** */
$foo: rgba(235,54,24,0.5);
.foo {
    color:$foo !important;
}
$bgBody:#f2f0f0; //body.home BG
$lighterbgColor:#fbfafa;

$defaultColor: #666666;
$blueColor: #354a73; // blue
$grayColor: #dcdcdc;
$lightGrayColor: #efefef;
$darkGrayColor: #2f2f2f;

$goldColor:#977f43;
$quoteColor: $goldColor;
$orangeColor: #eb6909;

$inactiveColor: #7f889e;

$transparentWhite: rgba(255,255,255,0.8);
$whiteColor: #ffffff;
$blackColor: #000000;

//ColorCodes

$baseColor:$blackColor;


/* ** NUMBERS ** */
$defaultMargin: 20px;
$defaultPadding: 2em;
$horPadding:7.5vW;
$vertPadding:3 * $defaultPadding;

/*$mediumParallaxContainer: 500px;
$parallaxContainer: 1180px;
$smallParallaxContainer: 350px;*/


/*** HEIGHTS ***/


