/* ** COLORS ** */
$foo: rgba (255,0,0, .5);
$baseColor: #354a73; // blue
$defaultColor: #000000;
$grayColor: #eeeeee;
$inactiveColor: #7f889e;
$lightGrayColor: #efefef;
$orangeColor: #eb6909;
$transparentWhite: rgba(255,255,255,0.8);
$quoteColor: #b6c7ea;
$whiteColor: #ffffff;

/* ** NUMBERS ** */
$defaultMargin: 20px;
$defaultPadding: 15px;
$mediumParallaxContainer: 500px;
$parallaxContainer: 1180px;
$smallParallaxContainer: 350px;

